html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
strong,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
figure,
figcaption,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
  width: 100%;
  background-color: #fff;
  padding: 80px 0px;
}

header h1 {
  text-align: center;
  font-size: 2em;
}

/* Search */

main {
  background-color: #fff;
  padding: 20px 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main input {
  width: 25%;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 4em;
  border-radius: 5px;
  box-shadow: none;
  border: 2px solid #222;
  transition: all 0.3s ease-in-out;
  padding: 5px 15px;
  background: none;
  color: #1a3b5d;
}

main input:hover {
  border-color: #3d9cff;
  box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
}

main input:focus {
  outline: none;
  border-color: #3d9cff;
}

main p {
  margin-top: 10px;
  font-size: 1em;
}

/* Result */

.Result {
  width: 100%;
}

.Card {
  width: 20%;
  margin: 50px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
}

.Card h2 {
  color: #3d9cff;
}
